html {
    font-family: sans-serif;
    color: rgb(24, 24, 24);
    transition: background .4s;
}

body {
    width: auto;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div.container {


    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 1120px;
    margin: 0 10px;
    padding: 7px;

    

    border-radius: 8px;

    color: rgb(65, 58, 58);

    background-color: lightsalmon;
    transition: background 0.4s;
}

div#head {

    font-family: monospace;
    font-size: 16px;

    width: auto;
    max-width: 450px;
    margin: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

p {
    width: auto;
    max-width: 450px;


    margin: 0 10px 10px;


    text-align: justify;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }